body{
background-color: #292333;
}

p, a{
color:#fff2af;
font-family: 'Source Sans Pro', sans-serif;
}

ul, ol{
color:#fff2af;
font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
color:#fff2af;
font-family: 'Didact Gothic', sans-serif;
}

blockquote {
  background: #1f1e1d;
  border-left: 5px solid #403f3e;
  margin: 0.3em 7px;
  padding: 0.2em 7px;
  quotes: "\201C""\201D""\2018""\2019";
}

pre {
  background: #ebebeb;
  border-left: 5px solid #403f3e;
  margin: 0.3em 7px;
  padding: 0.2em 7px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 15px;
}

table {
    border-collapse: collapse;
}
table td {
     border: 3px solid black;
}

th, tr{
font-family: 'Source Sans Pro'
}
